body{
    margin: 0%;
    background-color: antiquewhite;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Audiowide', cursive;
}

.sec-header{
    background:linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    border: solid blueviolet 0.5px;
    box-shadow: black 0px 0px 15px 1px;
}

.nome-prof{
    display: flex;
    align-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10%;
    padding: 0.5%;
    flex: 4;
    flex-wrap: wrap;
    min-width: 450px;
    font-size: 0.8rem;
}

.nome-prof h1{
    font-size: 2.5em;
}

.nome-prof h2{
    /*color: transparent; 
    background-image: linear-gradient(90deg, #FFFF00 0%, #FF3B00 100%); 
    background-clip: text;*/
}

.foto{
    min-width: 200px;
    padding: 0.5%;
    flex: 1;
    /*border: solid salmon;*/
    text-align: center;
}

.corpo{
    /*margin: 2%;*/
    display: flex;
    flex-wrap: wrap;
}

.corpo a{
    text-decoration: none;
}

.esquerda{
    background-color: rgb(148, 212, 191);
    padding: 20px;
    flex: 1.5;
    border-radius: 25px 25px 0% 0%;
    box-shadow: gray 0 0 15px 1px;
    margin: 25px 25px;
}

.esquerda h1, h2, h3{
    color: darkblue;
    font-family: 'Audiowide', cursive;
}

.direita{
	background: cadetblue;
    padding: 20px;
    flex: 3;
    border-radius: 25px 25px 0% 0%;
    /*border-top-left-radius: 25px;*/
    box-shadow: gray 0 0 15px 1px;
    margin: 25px 25px;
    min-width: 300px;
}

.exp-profissional{
    text-align: justify;
}

span{
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
